body {
  background-image: url(https://www.ipaymentsuite.com/assets/img/ipaysuitewallpaper.jpg);
}

.main {
  height: 90vh;
  display: flex;
  place-content: center;
  place-items: center;
}
.nombre {
  color: white;
}
